<div layout layout-align="space-around" layout-wrap>
  <div flex-xs=50>
    <label>Applicants</label>
    <div class="h100" layout layout-align="start center">
      <label class="md-display-1 cp">50,000</label>
    </div>
  </div>
  <div flex-xs=50>
    <label>Acceptance</label>
    <div layout layout-align="start center" class="h100">
      <graph-component-pie></graph-component-pie>
      <label class="md-display-1 m10 cp">20%</label>
    </div>
  </div>
  <div flex-xs=50>
    <label>Requirements</label>
    <div layout layout-align="start center" class="h100">
      <bar-rating rating-init='3' rating-readonly='true' rating-size="lg"></bar-rating>
      <div class="text-center m10">
        <div class="md-display-1 cp mt15">3.2</div>
        <label class="text-muted">Average</label>
      </div>
    </div>
  </div>
  <div flex-xs=50>
    <label>Essay and Interview</label>
    <div layout layout-align="start center" class="h100">
      <bar-rating rating-init='3' rating-readonly='true' rating-size="lg"></bar-rating>
      <div class="text-center m10">
        <div class="md-display-1 cp mt15">3.2</div>
        <label class="text-muted">Average</label>
      </div>
    </div>
  </div>
</div>