<div>
  <h4 class="md-headline">Deadline</h4>
  <div layout layout-wrap layout-align="space-around center">
    <div flex=50 flex-gt-xs=33>
      <h4 class="md-title cp">Undergraduate</h4>
      <p>Semester 1: 02 Feb</p>
      <p>Semester 2: 02 Aug</p>
    </div>
    <div flex=50 flex-gt-xs=33>
      <h4 class="md-title cp">Graduate</h4>
      <p>Semester 1: 02 Feb</p>
      <p>Semester 2: 02 Aug</p>
    </div>
    <div flex=100 flex-gt-xs=33>
      <h4 class="md-title cp">MBA</h4>
      <p>Semester 1: 02 Feb</p>
      <p>Semester 2: 02 Aug</p>
    </div>
  </div>
</div>