<div>
  <div layout layout-align='start start'>
    <label class="prosLabel">Pros</label>
    <div class="ml10">
      <p>"<strong>Bonus</strong> program is great, <strong>pay and benefits</strong> for a call center type job is unheard of" <em style="font-size: 13px;" class="m10">(in 21 reviews)</em></p>
      <p>"<strong>Good pay</strong> compared to other companies" <em style="font-size: 13px;" class="m10">(in 21 reviews)</em></p>
    </div>
  </div>
  <div layout layout-align='start start' class="mt20">
    <label class="consLabel">Cons</label>
    <div class="ml10">
      <p>"They have an outdated <strong>dress code</strong> that scares some excellent candidates away" <em style="font-size: 13px;" class="m10">(in 21 reviews)</em></p>
      <p>"Expect major <strong>micro management</strong> in certain departments and complete lack of trust of even veteran employees" <em style="font-size: 13px;" class="m10">(in 21 reviews)</em></p>
    </div>
  </div>
  <md-button class='md-primary'>More Pros and Cons</md-button>
</div>