<div md-whiteframe="1" class="mt10">
  <h3 class="md-title">Study/Studied at NUS? Share your Experiences</h3>
  <div layout layout-align="space-between stretch">
    <div layout>
      <div class="w100 h100 m10 logo-nus"></div>
      <div>
        <h4>National University of Singapore</h4>
        <div layout layout-align="start center" >
          <bar-rating rating-type="stars"></bar-rating>
          <div class="text-muted ml10">Click to Rate</div>
        </div>
        <textarea class="form-control mt10" rows="3" cols="50"></textarea>
      </div>
    </div>
    <div style="width: 2px;" class="ml20 b-primary"></div>
    <div layout layout-align="center end" >
      <label class="ml20 mr20">or</label>
      <div layout='column'>
        <a href='#'>Rate Life@</md-button>
        <a href='#'>Rate Application</md-button>
        <a href='#'>Rate Programs</md-button>
      </div>
    </div>
  </div>
</div>