<md-toolbar md-scroll-shrink class='higherr-navbar'>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center" style='height: 50px;'>
    <h3>
      Higherr
    </h3>
    <div layout layout-align="center stretch" hide-sm hide-xs>
      <div layout layout-align="center center" ng-class="{ selectedTab: nav.isActive(0) }">
        <md-button href="/universities" ng-disabled="nav.isActive(0)">Universities</md-button>
      </div>
      <div layout layout-align="center center" ng-class="{ selectedTab: nav.isActive(1) }">
        <md-button href="/applications" ng-disabled="nav.isActive(1)">Applications</md-button>
      </div>
      <div layout layout-align="center center" ng-class="{ selectedTab: nav.isActive(2) }">
        <md-button href="/lifeandprograms" ng-disabled="nav.isActive(2)">life@</md-button>
      </div>
      <div layout layout-align="center center" ng-class="{ selectedTab: nav.isActive(3) }">
        <md-button href="/schoolarships" ng-disabled="nav.isActive(3)">Scholarships</md-button>
      </div>
    </div>

    <div hide-sm hide-xs>
      <md-button>Sign In</md-button>
      <md-button class="md-icon-button" aria-label="Notifications">
        <md-icon class="fa fa-bell-o fa-lg" alt="Notifications"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Notifications">
        <md-icon class="fa fa-plus fa-lg" alt="Notifications"></md-icon>
      </md-button>
    </div>

    <div hide-gt-sm>
      <md-button class="md-icon-button" aria-label="Notifications" ng-click='nav.toggleCollapsedMenu()'>
        <md-icon class="fa fa-bars fa-lg" alt="Notifications"></md-icon>
      </md-button>
    </div>
  </div>

  <div collapse="!nav.collapsedMenuVisibility" hide-gt-sm>
    <div layout="column" layout-align="center stretch">
      <div layout layout-align="center center" ng-class="{ selectedTab: nav.isActive(0) }">
        <md-button href="/universities" ng-disabled="nav.isActive(0)" layout-fill>Universities</md-button>
      </div>
      <div layout layout-align="center center" ng-class="{ selectedTab: nav.isActive(1) }">
        <md-button href="/applications" ng-disabled="nav.isActive(1)" layout-fill>Applications</md-button>
      </div>
      <div layout layout-align="center center" ng-class="{ selectedTab: nav.isActive(2) }">
        <md-button href="/lifeandprograms" ng-disabled="nav.isActive(2)" layout-fill>life@</md-button>
      </div>
      <div layout layout-align="center center" ng-class="{ selectedTab: nav.isActive(3) }">
        <md-button href="/schoolarships" ng-disabled="nav.isActive(3)" layout-fill>Schoolaships</md-button>
      </div>
    </div>

    <div layout layout-align="space-around center">
      <md-button>Sign In</md-button>
      <md-button class="md-icon-button" aria-label="Notifications">
        <md-icon class="fa fa-bell-o fa-lg" alt="Notifications"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Notifications">
        <md-icon class="fa fa-plus fa-lg" alt="Notifications"></md-icon>
      </md-button>
    </div>
  </div>
</md-toolbar>