<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <h3>
      Higherr
    </h3>

    <div>
      <md-button>Universities</md-button>
      <md-button>Applications</md-button>
      <md-button>life@</md-button>
      <md-button>Schoolaships</md-button>
    </div>

    <div>
      <md-button>Sign In</md-button>
      <md-button class="md-icon-button" aria-label="Notifications">
        <md-icon class="fa fa-bell-o fa-lg" alt="Notifications"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Notifications">
        <md-icon class="fa fa-plus fa-lg" alt="Notifications"></md-icon>
      </md-button>
    </div>
  </div>
</md-toolbar>