.main {
  /*background-color: #FFF;*/
}

.home-searchContainer {
  position: relative;
  height: 600px;

  background-image: url("../../assets/images/search-background.jpg");
  background-size: cover;
}

.home-searchBox {
  min-width: 600px;
  padding: 20px;
  background-color: rgba(240, 240, 240, 0.95);
}

.home-searchBox h1 {
  font-weight: 300;
}

.home-searchBox .selectedTab {
  color: #046B8B;
  border-bottom: none;
}

.home-searchBox .selectedTab .md-button[disabled] {
  color: #046B8B !important;
}

md-autocomplete[md-floating-label] md-input-container {
  padding-bottom: 0;
}

@media (max-width: 600px) {
  .home-searchBox {
    min-width: 500px;
  }

  .home-searchBox a.md-button {
    padding: 0 5px 0 5px;
    margin: 7px 0px 7px 0px;
    min-width: 0;
    font-size: 13px;
  }

  .home-searchContainer {
    height: 500px;
  }

  .home-searchBox h1 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .home-searchBox {
    min-width: 400px;
  }
}

@media (max-width: 400px) {
  .home-searchBox {
    min-width: 300px;
  }

  .home-searchBox a.md-button {
    padding: 0 5px 0 5px;
    margin: 6px 0px 6px 0px;
    min-width: 0;
    font-size: 12px;
  }
}

.main .info {
  color: #FCFCFC;
  background-image: url(/assets/images/home-featureBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main .info strong {
  color: #9ce5fc;
}

/*.main p {
  color: #FCFCFC;
  padding: 10px;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/assets/images/home-featureBackground.png);
  background-size: cover;
}*/