<md-whiteframe class="md-whiteframe-4dp home-searchBox" layout="column" layout-align="center center">
      <h3 class="text-center">Find Universities You'd Love</h3>
      <md-tabs md-dynamic-height md-border-bottom md-center-tabs="true" md-selected='main.currentTab' layout-fill>
        <md-tab label="Universities" >
          <br>
          <div layout-gt-xs="row" layout="column" layout-margin>
            <md-autocomplete flex-gt-xs md-no-float
                md-selected-item="main.selectedUniversity"
                md-search-text="main.searchTextUniversity"
                md-items="item in main.queryUnivesity(main.searchTextUniversity)"
                md-item-text="item"
                md-min-length="0"
                md-floating-label="Univesity Name"
                placeholder="Univesity Name">
              <md-item-template>
                <span md-highlight-text="main.searchTextUniversity" md-highlight-flags="^i">{{item}}</span>
              </md-item-template>
              <md-not-found>
                No universities matching "{{main.searchTextUniversity}}" were found.
              </md-not-found>
            </md-autocomplete>
            <md-autocomplete flex-gt-xs md-no-float
                md-selected-item="main.selectedLocation"
                md-search-text="main.searchTextLocation"
                md-items="item in main.queryLocations(main.searchTextLocation)"
                md-item-text="item"
                md-min-length="0"
                md-floating-label="Location"
                placeholder="Univesity Name">
              <md-item-template>
                <span md-highlight-text="main.searchTextLocation" md-highlight-flags="^i">{{item}}</span>
              </md-item-template>
              <md-not-found>
                No location matching "{{main.searchTextLocation}}" were found.
              </md-not-found>
            </md-autocomplete>
          </div>
        </md-tab>
        <md-tab label="Applications">
          <br>
          <div layout-gt-xs="row" layout="column" layout-margin>
            <md-autocomplete flex-gt-xs md-no-float
                md-selected-item="main.selectedUniversity"
                md-search-text="main.searchTextUniversity"
                md-items="item in main.queryUnivesity(main.searchTextUniversity)"
                md-item-text="item"
                md-min-length="0"
                md-floating-label="Univesity Name"
                placeholder="Univesity Name">
              <md-item-template>
                <span md-highlight-text="main.searchTextUniversity" md-highlight-flags="^i">{{item}}</span>
              </md-item-template>
              <md-not-found>
                No universities matching "{{main.searchTextUniversity}}" were found.
              </md-not-found>
            </md-autocomplete>
            <md-autocomplete flex-gt-xs md-no-float
                md-selected-item="main.selectedLocation"
                md-search-text="main.searchTextLocation"
                md-items="item in main.queryLocations(main.searchTextLocation)"
                md-item-text="item"
                md-min-length="0"
                md-floating-label="Location"
                placeholder="Univesity Name">
              <md-item-template>
                <span md-highlight-text="main.searchTextLocation" md-highlight-flags="^i">{{item}}</span>
              </md-item-template>
              <md-not-found>
                No location matching "{{main.searchTextLocation}}" were found.
              </md-not-found>
            </md-autocomplete>
          </div>
        </md-tab>
        <md-tab label="Life@ and Programs">
          <br>
          <div layout-gt-xs="row" layout="column" layout-margin>
            <md-autocomplete flex-gt-xs md-no-float
                md-selected-item="main.selectedUniversity"
                md-search-text="main.searchTextUniversity"
                md-items="item in main.queryUnivesity(main.searchTextUniversity)"
                md-item-text="item"
                md-min-length="0"
                md-floating-label="Univesity Name"
                placeholder="Univesity Name">
              <md-item-template>
                <span md-highlight-text="main.searchTextUniversity" md-highlight-flags="^i">{{item}}</span>
              </md-item-template>
              <md-not-found>
                No universities matching "{{main.searchTextUniversity}}" were found.
              </md-not-found>
            </md-autocomplete>
            <md-autocomplete flex-gt-xs md-no-float
                md-selected-item="main.selectedLocation"
                md-search-text="main.searchTextLocation"
                md-items="item in main.queryLocations(main.searchTextLocation)"
                md-item-text="item"
                md-min-length="0"
                md-floating-label="Location"
                placeholder="Univesity Name">
              <md-item-template>
                <span md-highlight-text="main.searchTextLocation" md-highlight-flags="^i">{{item}}</span>
              </md-item-template>
              <md-not-found>
                No location matching "{{main.searchTextLocation}}" were found.
              </md-not-found>
            </md-autocomplete>
          </div>
        </md-tab>
        <md-tab label="Schoolaships">
          <br>
          <div layout-gt-xs="row" layout="column" layout-margin>
            <md-input-container md-no-float class="md-block" flex-gt-xs>
              <input ng-model="university.name" placeholder="Schoolaship Name">
            </md-input-container>
            <md-input-container md-no-float class="md-block" flex-gt-xs>
              <input ng-model="university.location" placeholder="Location">
              <md-icon class="fa fa-map-marker fa-lg"></md-icon>
            </md-input-container>
          </div>
        </md-tab>
      </md-tabs>
      <md-button class="md-raised md-primary" layout-fill>Search</md-button>
      <a href="#">Submit a quick review</a>
    </md-whiteframe>