.university {

}

.university .coverPhoto {
  height: 300px;
  background-image: url("../../assets/images/cover-nus.jpg");
  background-size: cover;
  background-position: center;
}

.logo-nus {
   background: url(/assets/images/logo-nus.jpg) 50% 50% no-repeat;
   background-size: cover;
   border: 2px solid #000;
}